# Python Basics

### Python is a general purpose programming language
### Python is a high level language, easy to understand and user friendly
### Python is dynamically typed
### Python has a strong open source community
### Python has abundant packages 
### Python is fairly easy to interpret and learn.
### Python handles different data structures very well.
### Python has very powerful statistical and data visualization libraries.
### In python indexing starts with 0

## Variables and datatypes

In [1]:
person_name = 'Andrew'
age = 48
is_DL_expert = True
height = 5.2
birth_year = 1970

In [3]:
print (type(height))
print (type(age))
print (type(person_name))
print (type(is_DL_expert))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [4]:
print (person_name)

Andrew

## Basic operations

In [5]:
a = 5
b = 2

In [6]:
print ('add:', a+b)
print ('subtract:', a-b)
print ('multiply:', a*b)
print ('divide:', a/b)
print ('a to the power b:', a**b)

add: 7
subtract: 3
multiply: 10
divide: 2.5
a to the power b: 25

In [7]:
a=3
b=4
print (a>b)
print (a<b)
print (a==b)

False
True
False

## Python Datastructure

### List

In [8]:
my_first_list = [3, 4, 1, 4, 5, 2, 7]
my_first_list

[3, 4, 1, 4, 5, 2, 7]

In [29]:
person = ['Andrew', 48, True, 5.2, 1970]
person

['Andrew', 48, True, 5.2, 1970]

In [30]:
# Access elements of list
print (person[0])
print (person[3])

Andrew
5.2

In [31]:
# to access last elemnt
person[-1]

1970

In [32]:
# to access range of elements
print (person[1:4])

[48, True, 5.2]

In [33]:
# to append
person.append('new_data')
person

['Andrew', 48, True, 5.2, 1970, 'new_data']

In [34]:
print (len(person))

6

In [35]:
# to delete
person.remove(1970)
print (person)
person.pop()
print (person)

['Andrew', 48, True, 5.2, 'new_data']
['Andrew', 48, True, 5.2]

In [36]:
person.append(['hobby',5000])
person

['Andrew', 48, True, 5.2, ['hobby', 5000]]

In [20]:
# accessing elemnt of a nested python list
person[-1][0]

'hobby'

### Dictionary

In [22]:
person_dict = dog_dict = {'name': 'Andrew', 'age': 48, 'is_DL_expert': True, 'height': 5.2, 'birth_year': 1990,
                          'attributes': ['hobby', 5000]}
person_dict

{'age': 48,
 'attributes': ['hobby', 5000],
 'birth_year': 1990,
 'height': 5.2,
 'is_DL_expert': True,
 'name': 'Andrew'}

In [23]:
print (person_dict['age'])
print (person_dict['attributes'])

48
['hobby', 5000]

### Tuple

In [24]:
book_list = ['A Game of Thrones', 'Digital Fortress', 'Practical Statistics for Data Scientists']
book_tuple = ('A Game of Thrones', 'Digital Fortress', 'Practical Statistics for Data Scientists')

In [25]:
book_list.append('sapiens')
book_list

['A Game of Thrones',
 'Digital Fortress',
 'Practical Statistics for Data Scientists',
 'sapiens']

In [26]:
book_tuple.append('sapiens')
book_tuple

AttributeError: 'tuple' object has no attribute 'append'

## Conditional statement

In [37]:
a = 10
b = 11
c = 10
if a == b:
    print('first condition is true')
elif a == c:
    print('second condition is true')
else:
    print('nothing is true. existence is pain.')

second condition is true

## For loop

In [39]:
for i in range(5):
    print (i)

0
1
2
3
4

In [40]:
book_list = ['A Game of Thrones', 'Digital Fortress', 'Practical Statistics for Data Scientists']
for elem in book_list:
    print (elem)

A Game of Thrones
Digital Fortress
Practical Statistics for Data Scientists

## importing libraries

In [41]:
import os
import numpy as np